<h2 class="fs-5 mb-3">Best debtor</h2>

@if (bestDebtor) {
  <div class="card">
    <div class="card-header fw-bold">
      {{ bestDebtor.firstName }}
      {{ bestDebtor.lastName }}
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="fw-bold">Refunded relative:</span>
        {{ bestDebtor.refundedRelative | percent: '1.2-2' }}
      </li>

      <li class="list-group-item">
        <span class="fw-bold">Total debt amount:</span>
        {{ bestDebtor.totalDebtAmount | currency: 'EUR' : 'symbol' }}
      </li>
    </ul>
  </div>
} @else {
  <span class="col">Loading...</span>
}
