<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-brand d-flex">
      <div class="me-2 brand-text">Tilde test assignment</div>

      <img
        src="assets/logo.png"
        alt="Logo image"
        width="30"
      />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      (click)="navbarCollapsed = !navbarCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      [ngbCollapse]="navbarCollapsed"
      class="navbar-collapse justify-content-between"
      [class.collapse]="navbarCollapsed"
    >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/balance-statuses"
          >
            Balance statuses
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/biggest-debtor-creditor"
          >
            Biggest debtor/creditor
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/average-debts"
          >
            Average debts
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/best-debtor"
          >
            Best debtor
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
