<div class="row g-3 align-items-center">
  <h2 class="col-xs-3 col-sm-auto fs-5 mb-0">Balance statuses</h2>

  <div class="col-xs-3 col-sm-auto">
    <input
      type="text"
      placeholder="Search"
      class="form-control"
      name="searchText"
      [(ngModel)]="query.searchText"
      (ngModelChange)="onSearchTextChange()"
    />
  </div>

  @if (loading) {
    <span class="col">Loading...</span>
  }
</div>

<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th scope="col">#</th>

      <th
        scope="col"
        sortBy="firstName"
        (sort)="onSort($event)"
      >
        First name
      </th>

      <th
        scope="col"
        sortBy="lastName"
        (sort)="onSort($event)"
      >
        Last name
      </th>

      <th
        scope="col"
        sortBy="status"
        (sort)="onSort($event)"
      >
        Balance
      </th>
    </tr>
  </thead>

  <tbody>
    @for (balanceStatus of balanceStatuses; track balanceStatus.personId) {
      <tr>
        <td scope="row">{{ $index + 1 }}</td>

        <td>
          <ngb-highlight
            [result]="balanceStatus.firstName"
            [term]="query.searchText!"
          />
        </td>

        <td>
          <ngb-highlight
            [result]="balanceStatus.lastName"
            [term]="query.searchText!"
          />
        </td>

        <td [balanceStatus]="balanceStatus.status"></td>
      </tr>
    } @empty {
      <tr>
        <td
          class="text-center"
          [attr.colspan]="4"
        >
          No data
        </td>
      </tr>
    }
  </tbody>
</table>
